html {
    --main-color: #333333;
    --secondary-color: #fa694e;
    --secondary-text: #777;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Work Sans";
    margin: 0;
}

.container {
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
